@CHARSET "UTF-8";

body {
    background-color: gray;
	margin: 0px;
    padding: 0px;
    border: 0px;
}

#upper_menuline{
	background-color: black;	
    position: relative;
    width: 100%;
    height: 40px;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

table.info-window{
	 word-wrap: break-word;
}

#work_place{
	position: relative;
	margin: 0px;
    padding: 0px;
    border: 0px;
}

#upper_menuline table{
    color: white;
    position: absolute;
	top: 0; bottom: 0; right: 0;
}

#excursion_list{
	position: absolute;
	top:0;
 right:0;
}
#excursion_list table{
	padding: 0px;
	border: 0px;
	margin: 0px;
	border-spacing: 0px;
    border-collapse: collapse;
}
#excursion_list tr td{
    cursor: pointer;
}
#excursion_list table th, #excursion_list table tr, #excursion_list table td{
	padding: 5px;
}
#excursion_list th{
	border-bottom: 1px solid black;
	margin-bottom: 25px;
	background-color: #222222;
	color: #bbbbbb;
}	
#excursion_list  tr[shown=true]{
	 background-color: #333333;
	 color: #888800;
}
#excursion_list tr[shown=false]{
	 background-color: #777777;
	 color: #000000;
}
#excursion_list tr[shown=false]:hover {
  background-color: #666666;
  color: black;	
}
#excursion_list tr[shown=true]:hover {
  background-color: #222222;
   color: #989800;
}





#nickname_list{
	/*height: 30px;*/
	border: 1px solid #CCCCCC;
	font-weight: bold;
}
#videolink_list{
	height: 38px;
	border: 1px solid #CCCCCC;
}
#musiclink_list{
	height: 38px;
	border: 1px solid #CCCCCC;
}
#picturelink_list{
	height: 38px;
	border: 1px solid #CCCCCC;
}
.detail_list{
	/*overflow:hidden;*/
	/*overflow-y: scroll;*/ 
	overflow-y: auto;	
	border: 0px solid black;
	margin: 0px;
	padding: 0px;
	background-color: #DDDDDD;	
	list-style-type: none;
}
    
#excursion_details_block{
	position: fixed;
	bottom: 0px ;
	left: 0px;
	/*background-color: #F0F0F0;*/
}
#excursion_details_tab{
	cursor: pointer;
	background-color: #DDDDDD;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding-right: 10px;
	padding-left: 10px;
	width: 100px;
}
#excursion_details_container{
	background-color: #DDDDDD;
	border: 1px solid black;
	bottom: 10px ;
	display: none ;
	left: 20px ;
	/*width: 100% ;*/
	width: 900px;
	height: 400px;	
}
#excursion_details_container table{
	padding: 0px;
	border: 0px;
	margin: 0px;
	border-spacing: 0px;
    border-collapse: collapse;
    /*background-color: red;*/
}
#excursion_details_title{
	font-size: 200%;
	margin: 0px;
	border-bottom: 1px solid black;
	color: black;
	
	padding: 0px;
	padding-bottom: 20px;
	padding-top: 10px;
	/*background-color: #555555;*/
}
